/* Imports */



/* Imports */

/* Vars */

$main-color: #00bdec;

/* Vars */

%c-style {

    width: 85vw;

    padding: 5px;

    margin: 0px auto;

}

%fcenter {

    display: flex;

    justify-content: center;

    align-items: center;

}

* {

    padding: 0px;

    margin: 0px;

    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {

    width: 100vw;

    min-height: 100vh;

    overflow-x: hidden;

}

.container {

    @extend %c-style;

}

nav {

    @extend %c-style;

    display: flex;

    justify-content: space-between;

    align-items: center;

    .logo {

        aspect-ratio: 1 / 1;

        height: 50px;

        border-radius: 50%;

        cursor: pointer;

    }

    .links-c {

        display: none;

        justify-content: space-around;

        align-items: flex-end;

        flex-direction: column;

        cursor: pointer;

        padding: 5px;

        aspect-ratio: 1 / 1;

        border-radius: 2.5px;

        background-color: #ebebeb;

        height: 45px;

        span {

            height: 2px;

            background-color: #000000;

        }

        span:first-child {

            width: 100%;

        }

        span:nth-child(2) {

            width: 65%;

            transition-duration: 0.5s;

        }

        span:last-child {

            width: 100%;

        }

    }

    .links-c:hover {

        span:nth-child(2) {

            width: 100%;

        }

    }

    ul {

        display: flex;

        justify-content: center;

        align-items: center;

        gap: 15px;

        list-style-type: none;

    }

    ul li a {

        color: #4b4b4b;

        text-decoration: none;

        font-weight: 200;

        transition-duration: 0.5s;

    }

    ul li a:hover {

        color: #000000;

        font-weight: 300;

    }

}

header {

    @extend %fcenter;

    width: 100vw;

    height: calc(100vh - 60px);

    overflow-x: hidden;

    flex-direction: column;

    background-image: url("../Assets/Images/header-bg.jpg");

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

    object-fit: cover;

}

.overlay {

    @extend %fcenter;

    background-color: #00000075;

    width: 100vw;

    height: 100%;

}

.intro {

    width: 300px;

    text-align: center;

    user-select: none;

    h1 {

        line-height: 2;

        font-size: 45px;

        font-weight: 900;

        color: $main-color;

    }

    p {

        line-height: 1.4;

        color: #ebebeb;

    }

}

/* Media */

@media (max-width: 600px) {

    nav {

        position: relative;

        .links-c {

            display: flex;

        }

        ul {

            display: none;

            width: 300px;

            position: absolute;

            right: 5px;

            padding: 5px;

            top: calc(100% + 10px);

            background-color: #ebebeb;

            flex-direction: column;

            border-radius: 5px;

            gap: 5px;

            text-align: center;

            font-weight: bold;

            &::before {

                content: "";

                width: 0px;

                height: 0px;

                position: absolute;

                border: 10px solid transparent;

                border-bottom-color: #ebebeb;

                top: -20px;

                right: 10px;

            }

            li {

                width: 100%;

                padding: 10px;

            }

            li:not(:last-child) {

                border-bottom: 2px solid black;

            }

        }

    }

}

/* Media */